.venv_check/
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
.coverage

.env
.venv/
api.out.log
api.err.log
apps/dev.out.log
apps/dev.err.log
dev-script.log
celery.out.log
celery.err.log
dev.out.log
dev.err.log
db/backups/
*.db
*.db-journal
*.db-wal
*.db-shm
